<router-outlet></router-outlet>

<!-- <div class="header_top">
  <div class="row">
    <div class="col-lg-4">r</div>
    <div class="col-lg-6">v</div>
    <div class="col-lg-2">d</div>
  </div>
</div> -->

<div class="header_top">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-6">
      <!-- <ul>
        <li><a class="active-nav" href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Courses</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Contact</a></li>
      </ul> -->
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<!----------------- Hello I'm ------------------->

<div class="container">
  <div class="row home-padding xs-column-reverse">
    <div class="col-lg-6">
      <div class="mh-header-info media_align">
        <div class="hlo_">
          <span>Hello I'm</span>
        </div>

        <h2 class="name_">
          VIGNESH RAJA</h2>
        <h4 class="designation_">
          Full Stack Developer</h4>

        <div class="contact_"><i class="fa fa-envelope fa_icon"></i><a href="mailto:">vicky27.cca&#64;gmail.com</a>
        </div>
        <div class="contact_"><i class="fa fa-phone fa_icon"></i><a href="callto:">+91 9566846476</a></div>
        <div class="contact_"><i class="fa fa-map-marker fa_icon"></i><a href="address:">125A, 126, Anandha Nagar,
            Thoraipakkam,
            Chennai - 600097</a>
        </div>

        <div class="social-icon">
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-github"></i></a></li>
            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="my_img">
        <div class="img-border">
          <!-- <img src="assets/hero.png" alt="" class="img-fluid"> -->
          <img src="assets/hero.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>

<!----------------- About Me ------------------->

<div class="container">
  <div class="row section-separator">
    <div class="col-sm-12 col-md-6 mob_cend">
      <div class="">
        <img src="assets/ab-img.png" alt="" class="img-fluid2">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 about_mob">
      <div class=" mh-about-inner">
        <h2 class="fadeInUp">About Me</h2>
        <!-- <p class="fadeInUp_">Hello,
          I’m a Patrick, web-developer based on Paris.
          I have rich experience in web site design &amp; building
          and customization. Also I am good at</p> -->
        <p class="fadeInUp_">
          I am a passionate Full Stack Developer with expertise in both front-end and back-end development. I specialize
          in building responsive and dynamic web applications using technologies like JavaScript, Angular, Java, and
          databases such as MySQL. With a focus on delivering clean, efficient code, I enjoy solving complex problems
          and creating seamless user experiences. I am always eager to learn new technologies and enhance my skillset to
          stay ahead in the fast-evolving tech industry.
        </p>
        <div class="mh-about-tag">
          <ul>
            <li><span>Html</span></li>
            <li><span>Javascript</span></li>
            <li><span>css</span></li>
            <li><span>Java</span></li>
            <li><span>MySQL</span></li>
            <!-- <li><span></span></li> -->
          </ul>
        </div>
        <a href="" class="btn btn-fill wow fadeInUp">Downlaod CV <i class="fa fa-download"></i></a>
        <!-- <a download="Resume" target="_blank" href="assets/file.pdf" class="btn btn-fill wow fadeInUp">Downlaod CV <i class="fa fa-download"></i></a> -->
      </div>
    </div>
  </div>
</div>

<!----------------- What I do ------------------->

<div class="container">
  <div class="row section-separator">
    <div class="col-sm-12 text-center section-title wow fadeInUp">
      <h3>What I do</h3>
    </div>

    <div class="col-sm-4">
      <div class="service-item">
        <i class="fa fa-bullseye purple-color"></i>
        <h3>UI & UX Design</h3>
        <p>
          I specialize in creating seamless and engaging user experiences through a balanced approach to UI and UX
          design. By focusing on both visual design and user interaction, I ensure that each product not only looks
          great but is also easy to navigate and intuitive to use. I leverage tools like Figma to design
          responsive, user-centered interfaces, conducting research and usability testing to align the design with user
          behavior and needs. My goal is to create digital experiences that are both aesthetically pleasing and
          functionally efficient, enhancing satisfaction and usability across platforms.
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="service-item">
        <i class="fa fa-laptop" aria-hidden="true"></i>
        <h3>Web Development</h3>
        <p>
          I build dynamic, high-performance websites and web applications using modern technologies. With expertise in
          both front-end and back-end development, I create responsive, user-friendly interfaces with HTML, CSS, and
          JavaScript frameworks like Angular. On the back-end, I work with Java, and databases like MySQL to ensure
          seamless data handling and integration. I prioritize clean, maintainable code and scalable architectures to
          future-proof projects.scalable solutions that meet business needs while providing an excellent user experience
          across all devices.
        </p>
      </div>
    </div>

    <div class=" col-sm-4">
      <div class="service-item">
        <i class="fa fa-code sky-color"></i>
        <h3>API</h3>
        <p>
          I design and develop REST ful APIs in Java to enable seamless communication between different systems and
          applications. Using frameworks like quarkus, I create scalable, secure, and efficient APIs that handle
          data
          exchange with precision. I follow industry best practices for API design, including proper authentication,
          error handling, and versioning to ensure reliability and maintainability. My APIs are built to integrate
          smoothly with both web and mobile applications, providing consistent performance and flexibility.my focus
          is
          on delivering high-quality.
        </p>
      </div>
    </div>
  </div>
</div>

<!----------------- Technical Skills ------------------->

<div class="container ">
  <div class="row section-separator">
    <div class="section-title text-center col-sm-12">
      <!--<h2>Skills</h2>-->
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="mh-skills-inner">
        <div class="mh-professional-skill ">
          <h3>Technical Skills</h3>
          <div class="each-skills">
            <div class="candidatos">
              <div class="parcial">
                <div class="info">
                  <div class="nome">Java</div>
                  <div class="percentagem-num">85%</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 85%;"></div>
                </div>
              </div>
            </div>
            <div class="candidatos">
              <div class="parcial">
                <div class="info">
                  <div class="nome">Angular</div>
                  <div class="percentagem-num">80%</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 80%;"></div>
                </div>
              </div>
            </div>
            <div class="candidatos">
              <div class="parcial">
                <div class="info">
                  <div class="nome">Javascript</div>
                  <div class="percentagem-num">80%</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 80%;"></div>
                </div>
              </div>
            </div>
            <div class="candidatos">
              <div class="parcial">
                <div class="info">
                  <div class="nome">TypeScript</div>
                  <div class="percentagem-num">70%</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 70%;"></div>
                </div>
              </div>
            </div>

            <div class="candidatos">
              <div class="parcial">
                <div class="info">
                  <div class="nome">MySql</div>
                  <div class="percentagem-num">70%</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 70%;"></div>
                </div>
              </div>
            </div>
            <div class="candidatos">
              <div class="parcial">
                <div class="info">
                  <div class="nome">Ionic</div>
                  <div class="percentagem-num">60%</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 60%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="mh-professional-skills ">
        <h3>Professional Skills</h3>
        <ul class="mh-professional-progress">
          <li>
            <div class="mh-progress mh-progress-circle active" data-progress="80" style="position: relative;"><svg
                viewBox="0 0 100 100">
                <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#eee"
                  stroke-width="5" fill-opacity="0"></path>
                <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#555"
                  stroke-width="5" fill-opacity="0"
                  style="stroke-dasharray: 298.493, 298.493; stroke-dashoffset: 40.9247;"></path>
              </svg>
              <p class="progressbar-text"
                style="position: absolute; top: 50%; left: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);">
                80%</p>
            </div>
            <div class="pr-skill-name">Communication</div>
          </li>
          <li>
            <div class="mh-progress mh-progress-circle active" data-progress="55" style="position: relative;"><svg
                viewBox="0 0 100 100">
                <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#eee"
                  stroke-width="5" fill-opacity="0"></path>
                <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#555"
                  stroke-width="5" fill-opacity="0"
                  style="stroke-dasharray: 298.493, 298.493; stroke-dashoffset: 33.322;"></path>
              </svg>
              <p class="progressbar-text"
                style="position: absolute; top: 50%; left: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);">
                85%</p>
            </div>
            <div class="pr-skill-name">Team Work</div>
          </li>
          <li>
            <div class="mh-progress mh-progress-circle active" data-progress="86" style="position: relative;"><svg
                viewBox="0 0 100 100">
                <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#eee"
                  stroke-width="5" fill-opacity="0"></path>
                <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#555"
                  stroke-width="5" fill-opacity="0"
                  style="stroke-dasharray: 298.493, 298.493; stroke-dashoffset: 21.789;"></path>
              </svg>
              <p class="progressbar-text"
                style="position: absolute; top: 50%; left: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);">
                90%</p>
            </div>
            <div class="pr-skill-name">Project Management</div>
          </li>
          <li>
            <div class="mh-progress mh-progress-circle active" data-progress="60" style="position: relative;"><svg
                viewBox="0 0 100 100">
                <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#eee"
                  stroke-width="5" fill-opacity="0"></path>
                <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#555"
                  stroke-width="5" fill-opacity="0"
                  style="stroke-dasharray: 298.493, 298.493; stroke-dashoffset: 21.789;"></path>
              </svg>
              <p class="progressbar-text"
                style="position: absolute; top: 50%; left: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(85, 85, 85);">
                90%</p>
            </div>
            <div class="pr-skill-name">Creativity</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!----------------- Education ------------------->

<div class="container">
  <div class="row section-separator">
    <div class="col-sm-6 col-md-6 col-lg-6 ">
      <div class="mh-education">
        <h3> Education</h3>
        <div class="mh-education-deatils">
          <!-- Education Institutes-->
          <div class="mh-education-item dark-bg">
            <h4>Art &amp; Multimedia From <a href="">Oxford University</a></h4>
            <div class="mh-eduyear">2005-2008</div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout. The point of using Lorem Ipsum
              It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout. The point of using Lorem Ipsum </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 ">
      <div class="mh-education" style="margin-top: 22%;">
        <div class="mh-education-deatils">
          <!-- Education Institutes-->
          <div class="mh-education-item dark-bg">
            <h4>Art &amp; Multimedia From <a href="">Oxford University</a></h4>
            <div class="mh-eduyear">2005-2008</div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout. The point of using Lorem Ipsum
              It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout. The point of using Lorem Ipsum
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row section-separator">
    <div class="col-sm-6 col-md-6 col-lg-6 ">
      <div class="mh-work">
        <h3>Work Experience</h3>
        <div class="mh-experience-deatils">
          <!-- Education Institutes-->
          <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s"
            style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.4s; animation-name: fadeInUp;">
            <h4>UI/UX Designer <a href="">IronSketch</a></h4>
            <div class="mh-eduyear">2005-2008</div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout. The point of using Lorem Ipsum
              It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout. The point of using Lorem Ipsum
            </p>
            <span>Responsibility :</span>
            <ul class="work-responsibility">
              <li><i class="fa fa-circle"></i>Validate CSS</li><br>
              <li><i class="fa fa-circle"></i>Project Management</li><br>
              <li><i class="fa fa-circle"></i>Validate CSS</li><br>
              <li><i class="fa fa-circle"></i>Project Management</li><br>
              <li><i class="fa fa-circle"></i>Validate CSS</li><br>
              <li><i class="fa fa-circle"></i>Project Management</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 ">
      <div class="mh-work" style="margin-top: 22%;">
        <div class="mh-experience-deatils">
          <!-- Education Institutes-->
          <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s"
            style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.4s; animation-name: fadeInUp;">
            <h4>UI/UX Designer <a href="">IronSketch</a></h4>
            <div class="mh-eduyear">2005-2008</div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout. The point of using Lorem Ipsum
              It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout. The point of using Lorem Ipsum
            </p>
            <span>Responsibility :</span>
            <ul class="work-responsibility">
              <li><i class="fa fa-circle"></i>Validate CSS</li><br>
              <li><i class="fa fa-circle"></i>Project Management</li><br>
              <li><i class="fa fa-circle"></i>Validate CSS</li><br>
              <li><i class="fa fa-circle"></i>Project Management</li><br>
              <li><i class="fa fa-circle"></i>Validate CSS</li><br>
              <li><i class="fa fa-circle"></i>Project Management</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>